*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
 width: 900px;
}

#contenedor {
    background-color: gray;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 100px 500px 100px;

    grid-template-areas: 
    'cabecera cabecera cabecera'
    '. calculadora .'
    'pie pie pie'
    ;
 
    margin: 0 auto;
    width: 80%;
}

.tilulo{
    grid-area: cabecera; 
    background-color: orange;
}

#calculadora{
    grid-area: calculadora;
    background-color:#474444;
    border-radius: 5px;
    display: grid;
    padding: 12px;
    width: 450px;
    grid-row-gap: 10px;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
    'pantalla'
    'botones'
    ;

}

.piepagina{
    color: aliceblue;
    grid-area: pie;
    background-color: black;
    margin-bottom: 0px;
}

.botones{
    grid-area: botones;
    background-color: #575353;
    margin-bottom: 5px;  
    border-radius: 6px;
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(5, 1fr); 
    gap: 5px;   
}

#botonIgual{

 grid-column: span 2;
     
}

.pantalla {
    grid-area: pantalla;
    background-color: rgb(71, 38, 38);
    border-radius: 6px;
    font-size: 60px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    overflow: auto; 
}

.boton{
    border-radius: 12px;
}

/* estilo del scroll*/
.pantalla::-webkit-scrollbar {
    width: 12px; 
}

.pantalla::-webkit-scrollbar-track {
    background-color: transparent; 
}

.pantalla::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 6px; 
}

.pantalla::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}